:root {
  --primary-color: #1f1d2b;
}
@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: alata, sans-serif;
}

body {
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
}

.content-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 88px;
}

.silde-left {
  width: 20%;
}
.content {
  width: 80%;
  right: 0;
  position: fixed;
  height: calc(100vh - 88px);
  overflow-y: scroll;
  .movie-container {
    width: 87%;
    margin-top: 0 20px;
    border-radius: 20px;
    min-height: 500vh;
  }
}
@media (max-width: 639px) {
  .mobile\:w-full {
    width: 100%;
    .movie-container {
      width: 100%;
    }
  }
  .content .movie-container {
    min-height: 300vh;
    margin-left: 0px;
  }
  .content-container {
    .silde-left {
      width: 50%;
      .left-content {
        margin: auto;
        display: flex;
        justify-content: center;
        top: 87px;
        left: 0px;
        position: fixed;
        background-color: #1f1d2b;
        z-index: 9;
        height: calc(100vh - 88px);
        overflow-y: scroll;
      }
    }
  }
}
.slider-bottom {
  bottom: 0;
  display: flex;
  z-index: 9;
  width: 100%;
  height: 30px;
  justify-content: center;
  align-items: center;
  gap: 30px;
  position: fixed;
}
